.filterButtons{
    width: 500px;
    padding:10px;
    display: flex;
    justify-content: space-between;
}
.buttonGroup{
    display: flex;
}
.buttonGroup div{
    cursor: pointer;
    margin:2px;
    border-bottom:1px solid gray;
}
.buttonGroup div:hover{
    background-color: beige;
}