.loginContainer {
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.loginTitle {
    width: 400px;
}

.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 300px;
    border-radius: 29px;
    background: #e0e0e0;
    box-shadow: 6px 6px 12px #989898,
        -6px -6px 12px #ffffff;
}

.formContainer h2 {
    text-align: center;
}

.rememberBtn,
.loginBtn {
    margin: 5px;
    text-align: center;
    margin-top: 10px;
}

.loginBtn button {
    border: none;
    padding: 8px 15px;
    border-radius: 10px;
}

.errorText {
    color: red;
}