.cardModal{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:400px;
    height:400px;
    background-color: rgb(231, 231, 231);
    padding: 10px;
    border-radius: 29px;
    background: #e0e0e0;
    box-shadow:  6px 6px 12px #989898,
    -6px -6px 12px #ffffff;
}
.closeBtn{
    position: relative;
}
.closeIcon{
    cursor: pointer;
    position: absolute;
    top:0;
    right:0;
}
.modalContainer{
    display: flex;
    justify-content:center;
}