.dashboardContainer {
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
}

.usersList {
    min-width: 100px;
    background-color: antiquewhite;
    padding: 5px;
    border-right: 1px solid black;
}

.mainContainer {
    background-color: rgb(238, 238, 238);
}

.filterButtons {
    background-color: aliceblue;
}
.loaderCard{
    display: flex;
    justify-content: center;
    padding: 10px
}