.nav {
    display: flex;
    padding: 10px;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
}

.logo, .iterationButtons {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 20px;
    background: linear-gradient(315deg, #cacaca, #f0f0f0);
    box-shadow:  -20px -20px 39px #989898,
                 20px 20px 39px #ffffff;
}

.logo a,.iterationButtons a {
    color:black;
    text-decoration: none;
}

.profileButtons{
    display: flex;
}
.profileButtons > div{
    cursor: pointer;
    text-decoration: underline;
    margin: 5px;
}
.createCardContainer{
    display: flex;
    align-items:center ;
    height: 350px;
    width: 350px;
    padding: 10px;
}
.createCardContainer input, textarea{
    width: 300px;
    margin:5px;
    padding:10px;
    outline: none;
    border-radius: 20px;
    border: none;
}
.cardActionsBtn{
    padding:2px;
    display: flex;
    justify-content: end;
}
.cardActionsBtn button{
    cursor: pointer;
    border:none;
    padding:8px 15px;
    border-radius: 10px;
    margin: 3px;
}